= action_parameters nil, {}, {:method => 'POST', :enctype => 'multipart/form-data'} do
  - input :vcf, :text, "VCF file", nil
  - input :organism, :select, "Aligned organism", "Hsa", :select_options => %w(Hsa Hsa/may1009 Hsa/jan2013)
  - input :name, :string, "Name of VCF", nil
